.section .reset
J _boot

.section .illegal_instruction
_illegal_instruction:
J _trap

.section .boot
_boot:
csrwi 0x7A0, 0x2
li sp, 0x{{ stack_pointer_loc }}
call main
lw ra, +0(zero)
li sp, 0x{{ stack_pointer_loc }}
call main
csrwi 0x7A0, 0x0
J _trap

.section .trap
_trap:
J _trap

